<%= @characters.count %>

<% @characters.each do |character|%>
  <%# <%= image_tag(character[:photoUrl])%> %>
  <p><%= character[:name] %></p>
  <% if character[:allies] == 0 %>
    <p>Allies:<%=   "None" %></p>
  <% else %>
    <p>Allies:<%= character[:allies] %></p>
  <% end%>
  <% if character[:enemies] == 0 %>
    <p>Enemies:<%= "None" %></p>
  <% else %>
    <p>Enemies:<%= character[:enemies] %></p>
  <% end %>
  <p>Affiliation:<%= character[:affiliation] %></p>
<% end %>
