
<ul style="list-style: none;">
   <%  @nation_details.each do |character| %>

   <li> Member Name: <%= character.name %> </li>
    <li> Allies: <% if character.allies.empty? %>
                    <i> None </i> 
                    <% else %>
                    <%= character.allies.join(', ') %>
                    <% end %> 
    </li>
    <li> Enemies: <% if character.enemies.empty? %>
                        <i> None </i> 
                    <% else %>
                    <%= character.enemies.join(', ') %>
                    <% end %> 
    </li>
    <li> Affiliations: <%= character.affiliation %> </li>
   <li> <% if character.photo %>
            <%= image_tag character.photo, width: 90 %></li>
        <% else %>
        <i> no image available </i>
        <% end %>
    <hr>
    
    <% end %>
</ul>