<h1 style="text-align: center;">Members of the <%= @nation %></h1>

<h5 style="text-align: center;">Total Members: <%= @all_characters.count %></h5>

<% @characters.each do |character| %>
<div id="<%= character.name %>">
  <h3>Name: <%= character.name %></h3>

  <img src=<%= character.photo_url %> style="width:250px;height:300px;">

  <h3>Allies:</h3>

  <ul>
  <% if character.allies == [] %>
    None
  <% else %>
    <% character.allies.each do |ally| %>
      <%= ally %>, 
    <% end %>
  <% end %>
  </ul>

  <h3>Enemies:</h3>
<ul>
  <% if character.enemies == [] %>
    <li>None
  <% else %>
    <% character.enemies.each do |enemy| %>
      <%= enemy %>, 
    <% end %>
  <% end %>
 </ul>

  <h4>Affiliation: <%= character.affiliation %></h4>
  <hr>
<% end %>
</div>