<h1>Search Results</h1>

<%= "Total Members: #{@nation_members_total.count}" %>
<% @nation_members.each do |member| %>
  <div id=<%= "member-id-#{member.id}" %>>
    <% if member.photo_url %>
      <br><%= image_tag (member.photo_url) %><br/>
    <% end %>
    <%= "Name: #{member.name}" %><br>
    <% unless member.allies.empty? %>
      Allies: 
      <% member.allies.each do |ally| %>
        <%= ally %>
      <% end %><br>
    <% else %>
      Allies: None<br>
    <% end %>
    <% unless member.enemies.empty? %>
      Enemies: 
      <% member.enemies.each do |enemy| %>
        <%= enemy %>
      <% end %><br>
    <% else %>
      Enemies: None<br>
    <% end %>
    <% if member.affiliation %>
      <%= "Affiliation: #{member.affiliation}" %>
    <% else %>
      Affiliation: None<br>
    <% end %>
  <div>
<% end %>
