<h1><%= @nation %></h1>
<p>Found <%= @all_members.size %> <%= @nation %> members.</p>

<h2>First <%= @first_25_members.size %> members: </h2>
<% @first_25_members.each do |member| %>
  <div id="member">
    <h3>Name: <%= member.name %></h3>
    <p><img src=<%= member.image %>></p>
    <p>Allies: <%= member.allies_check %></p>
    <p>Enemies: <%= member.enemies_check %></p>
    <p>Affiliation: <%= member.affiliation %></p>
    <br>
  </div>
<% end %>