<h3>
  Total people who live here: <%= @member_count %>
</h3>

<% @members.each do |member| %>
  <section class="members">
    <p class="name">
      <%= member[:name] %>
    </p>

    <p class="allies">
      <%= member[:allies] %>
    </p>

    <p class="enemies">
      <%= member[:enemies] %>
    </p>

    <p class="affiliations">
      <%= member[:affiliations] %>
    </p>
  </section>
<% end %>