<h1><%= @nation %></h1>

<p>Number of members: <%= @member_count %>

<h2><%= @nation %> Members</h2>
<section id="members">
<ol>
  <% @members.each do |member| %>
    <section id="member-<%=member.id%>">
    
      <li><%= member.name %>  #image_tag(member.photo) </li>
        <ul>Allies: <%member.allies.each do |ally| %>
          <%= ally %>, 
        <% end %></ul>
        <ul>Enemies: <% member.enemies.each do |enemy| %>
          <%= enemy %>, 
        <% end %></ul>
        <ul>Affiliations: <%=member.affiliation %></ul>
    </section>
  <% end %>
 </ol>
</section>